.header {
	padding: 22px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
    font: 36px/1 $title;
}

.navigation {

	&__item {
		@include font(16px, 600);
		margin-left: 25px;
	}
}
